<configuration>
  <property name="LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss} [%X{THREAD-ID}][%X{X-Request-ID}] %-5level %logger{36} - %msg%n"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
  <!-- 로그 패턴은 원하는 대로 조정 -->
<!--  <logger name="org.apache.hc.client5.http" level="DEBUG"/>-->
<!--  <logger name="org.apache.hc.core5.http" level="DEBUG"/>-->
<!--  <logger name="org.apache.hc.core5.http.headers" level="DEBUG"/>-->
</configuration>
